@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap");

body {
  background: #ffc8dd;
}

h1 {
  text-align: center;
  margin-bottom: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  background-color: rgb(36 63 89);
  color: white;
  font-family: "Gemunu Libre", sans-serif;
}
/* .button-container {

} */

.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}
#options {
  margin-right: 5rem;
  margin-top: 2rem;
  font-size: 1rem;
}
.legend {
  font-size: 22px;
  font: bold;
}
#input {
  width: 100%;
  height: 1.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 50px;
}
.button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: rgb(36 63 89);
  color: white;
}
#container {
  display: grid;
  width: 500px;
  height: 500px;
}
#fieldset {
  margin-top: 20px;
  font-size: 1em;
}

.div-element-hover {
  background-color: black;
}
.footer {
  font-size: 1.5rem;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(36 63 89);
  color: white;
  text-align: center;
  max-height: 2.5rem;
}
.link-github {
  text-decoration: none;
  color: white;
}
.link-odin {
  text-decoration: none;
  color: #a8db43;
}
